{% extends 'base.html' %}
{% load static %}
{% block meta %}
    <meta name="description" content="About us how in tech - we are a forum motivated in educating the public about technology in simple terms and to highlight the state of technology in Africa Continent">
{% endblock %}
{% block title %}
    <title>About Us / How In Tech</title>
{% endblock %}

{% block content %}
    <header id="header">
			<!-- Page Header -->
			<div class="page-header">
				<div class="container">
					<div class="row">
						<div class="col-md-10">
							<ul class="page-header-breadcrumb">
								<li><a href="{% url 'post:index' %}">Home</a></li>
								<li>About Us</li>
							</ul>
							<h1>About Us</h1>
						</div>
					</div>
				</div>
			</div>
			<!-- /Page Header -->
		</header>
		<!-- /Header -->

		<!-- section -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-8">
						<div class="section-row">
							<p>How in Tech is a forum dedicated to educate the public on the complex aspect of technology in much simpler way
                            . A way which is easy for everyone with no IT Knowledge to follow along. We were motivated by the fact that most
                            tech blog tend to tackle technology in a complex way which discourage most of the users</p>
                            <p>We will also tackle complex problems in various areas not limited to programming, Artificial Intelligence and Cyber Security</p>

							<figure class="figure-img">
								<img class="img-responsive" src="{% static '/img/about-1.jpg' %}" alt="">
							</figure>
							<p>We will also tackle <strong> the state of technology in Africa, its problems and achievement and the way forward</strong>. Africa has been in the tail end in many
                            technological advancement</p>
						</div>
						<div class="row section-row">
							<div class="col-md-6">
								<figure class="figure-img">
									<img class="img-responsive" src="{% static '/img/about-2.jpg' %}" alt="">
								</figure>
							</div>
							<div class="col-md-6">
								<h3>Our Mission</h3>
{#								<p>Our main mission is to educate the publisolve the problems affecting technology and to expose the state of technology in Africa</p>#}
								<ul class="list-style">
									<li><p>Educate and create awareness to the general public on various technology in a simple and easy way</p></li>
									<li><p>Tackle problems in various category of technology</p></li>
									<li><p>Highlight the state of technology in Africa</p></li>
								</ul>
							</div>
						</div>
					</div>

					<!-- aside -->
					<div class="col-md-4">
						<!-- ad -->
						<div class="aside-widget text-center">
							<a href="#" style="display: inline-block;margin: auto;">
								<img class="img-responsive" src="{% static '/img/ad-1.jpg' %}" alt="">
							</a>
						</div>
						<!-- /ad -->

						<!-- post widget -->
						<div class="aside-widget">
							<div class="section-title">
								<h2>Most Read</h2>
							</div>
                            {% for post in most_read %}
                                <div class="post post-widget">
                                    <a class="post-img" href="{% url 'post:read' post.slug %}"><img src="{% static '/img/widget-1.jpg' %}" alt=""></a>
                                    <div class="post-body">
                                        <h3 class="post-title"><a href="{% url 'post:read' post.slug %}">{{ post.title | safe }}</a></h3>
                                    </div>
                                </div>
                            {% endfor %}
{#							<div class="post post-widget">#}
{#								<a class="post-img" href=""><img src="{% static '/img/widget-2.jpg' %}" alt=""></a>#}
{#								<div class="post-body">#}
{#									<h3 class="post-title"><a href="">Pagedraw UI Builder Turns Your Website Design Mockup Into Code Automatically</a></h3>#}
{#								</div>#}
{#							</div>#}
{##}
{#							<div class="post post-widget">#}
{#								<a class="post-img" href=""><img src="{% static '/img/widget-3.jpg' %}" alt=""></a>#}
{#								<div class="post-body">#}
{#									<h3 class="post-title"><a href="">Why Node.js Is The Coolest Kid On The Backend Development Block!</a></h3>#}
{#								</div>#}
{#							</div>#}
{##}
{#							<div class="post post-widget">#}
{#								<a class="post-img" href=""><img src="{% static '/img/widget-4.jpg' %}" alt=""></a>#}
{#								<div class="post-body">#}
{#									<h3 class="post-title"><a href="">Tell-A-Tool: Guide To Web Design And Development Tools</a></h3>#}
{#								</div>#}
{#							</div>#}
						</div>
						<!-- /post widget -->
					</div>
					<!-- /aside -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /section -->
{% endblock %}