{% extends 'base.html' %}
{% load static %}
{% block meta %}
    <meta name="description" content="{{ post.description|safe }}">
{% endblock %}
{% block title %}
    <title>{{ post.subCategory.name }} / {{ post.title | safe }}</title>
{% endblock %}

{% block css %}
    <style>
        .pop {
           animation: zoom 0.6s;
            position: relative;

        }
        textarea {
            border: 1px solid green;
        }
        @keyframes zoom {
            from {transform: scale(0)}
            to {transform: scale(1)}
        }
    </style>
{% endblock %}
{% block content %}
    	<!-- Header -->
		<header id="header">
			<!-- Page Header -->
			<div id="post-header" class="page-header">
                {% if post.pic %}
                    <div class="background-img" style="background-image: url('{{ post.pic.url }}')"></div>
                {% else %}
                    <div class="background-img" style="background-image: url('{% static '/img/post-page.jpg' %}');"></div>
                {% endif %}

				<div class="container">
					<div class="row">
						<div class="col-md-10">
							<div class="post-meta">
								<a class="post-category cat-2" href="{% url 'post:category' post.subCategory.id %}">{{ post.subCategory.name }}</a>
								<span class="post-date">{{ post.date }}</span>
							</div>
							<h1>{{ post.title | safe}}</h1>
						</div>
					</div>
				</div>
			</div>

            <div class="page-header" style="padding: 0px;">
				<div class="container">
					<div class="row">
						<div class="col-md-10">
							<ul class="page-header-breadcrumb">
								<li><a href="{% url 'post:index' %}">Home</a></li>
								<li>read</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- /Page Header -->
		</header>

		<!-- section -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- Post content -->
					<div class="col-md-8 col-lg-9">
						<div class="section-row sticky-container">
							<div class="main-post">
								<h3>{{ post.description }}</h3>
								<p>{{ post.content | safe}} </p>
{#								<p>The toppings you may chose for that TV dinner pizza slice when you forgot to shop for foods, the paint you may slap on your face to impress the new boss is your business. But what about your daily bread? Design comps, layouts, wireframes—will your clients accept that you go about things the facile way? Authorities in our business will tell in no uncertain terms that Lorem Ipsum is that huge, huge no no to forswear forever. Not so fast, I'd say, there are some redeeming factors in favor of greeking text, as its use is merely the symptom of a worse problem to take into consideration.</p>#}
{#								{% if post.pic %}#}
{#                                <figure class="figure-img">#}
{##}
{#									<img class="img-responsive" src="{{ post.pic.url }}" alt="">#}
{#									<figcaption>So Lorem Ipsum is bad (not necessarily)</figcaption>#}
{#								</figure>#}
{#                                {% else %}#}
{#                                    <figure class="figure-img">#}
{##}
{#									<img class="img-responsive" src="{% static '/img/post-4.jpg' %}" alt="">#}
{#									<figcaption>So Lorem Ipsum is bad (not necessarily)</figcaption>#}
{#								</figure>#}
{#                                {% endif %}#}
{#								<p>There's lot of hate out there for a text that amounts to little more than garbled words in an old language. The villagers are out there with a vengeance to get that Frankenstein, wielding torches and pitchforks, wanting to tar and feather it at the least, running it out of town in shame.</p>#}
{#								<p>One of the villagers, Kristina Halvorson from Adaptive Path, holds steadfastly to the notion that design can’t be tested without real content:</p>#}
{#								<blockquote class="blockquote">#}
{#									I’ve heard the argument that “lorem ipsum” is effective in wireframing or design because it helps people focus on the actual layout, or color scheme, or whatever. What kills me here is that we’re talking about creating a user experience that will (whether we like it or not) be DRIVEN by words. The entire structure of the page or app flow is FOR THE WORDS.#}
{#								</blockquote>#}
{#								<p>If that's what you think how bout the other way around? How can you evaluate content without design? No typography, no colors, no layout, no styles, all those things that convey the important signals that go beyond the mere textual, hierarchies of information, weight, emphasis, oblique stresses, priorities, all those subtle cues that also have visual and emotional appeal to the reader. Rigid proponents of content strategy may shun the use of dummy copy but then designers might want to ask them to provide style sheets with the copy decks they supply that are in tune with the design direction they require.</p>#}
{#								<h3>Summing up, if the copy is diverting attention from the design it’s because it’s not up to task.</h3>#}
{#								<p>Typographers of yore didn't come up with the concept of dummy copy because people thought that content is inconsequential window dressing, only there to be used by designers who can’t be bothered to read. Lorem Ipsum is needed because words matter, a lot. Just fill up a page with draft copy about the client’s business and they will actually read it and comment on it. They will be drawn to it, fiercely. Do it the wrong way and draft copy can derail your design review.</p>#}
							</div>
							<div class="post-shares sticky-shares">
								<a href="https://web.facebook.com/Howintech-378131526159032/" class="share-facebook"><i class="fa fa-facebook"></i></a>
								<a href="https://twitter.com/@howintech/" class="share-twitter"><i class="fa fa-twitter"></i></a>
{#								<a href="#" class="share-google-plus"><i class="fa fa-google-plus"></i></a>#}
{#								<a href="#" class="share-pinterest"><i class="fa fa-pinterest"></i></a>#}
{#								<a href="#" class="share-linkedin"><i class="fa fa-linkedin"></i></a>#}
{#								<a href="#"><i class="fa fa-envelope"></i></a>#}
							</div>
						</div>
                        <hr><br><br>
						<!-- ad -->
{#						<div class="section-row text-center">#}
{#							<a href="#" style="display: inline-block;margin: auto;">#}
{#								<img class="img-responsive" src="{% static '/img/ad-2.jpg' %}" alt="">#}
{#							</a>#}
{#						</div>#}
						<!-- ad -->

						<!-- author -->
						<div class="section-row">
							<div class="post-author">
								<div class="media">
									<div class="media-left">
                                        {% if post.author.profile_pic %}
                                            <img class="media-object" src="{{ post.author.profile_pic.url }}" alt="">
                                        {% else %}
                                            <img class="media-object" src="{% static '/img/author.png' %}" alt="">
                                        {% endif %}

									</div>
									<div class="media-body">
										<div class="media-heading">
											<h3>Author: {{ post.author.user.first_name }} {{ post.author.user.last_name }} </h3>
										</div>
										<p>{{ post.authorView | safe}}</p>
										<ul class="author-social">
											<li><a href="#"><i class="fa fa-facebook"></i></a></li>
											<li><a href="#"><i class="fa fa-twitter"></i></a></li>
											<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
											<li><a href="#"><i class="fa fa-instagram"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<!-- /author -->


                        <!-- reply -->
						<div class="section-row">
							<div class="section-title">
								<h2>Add comment</h2>
{#								<p>your email address will not be published. required fields are marked *</p>#}
							</div>
                            {% if request.user.is_authenticated%}
							<form class="post-reply" method="post" action="">
                                {% csrf_token %}
								<div class="row">
									<div class="col-md-12">
										<div class="form-group">
											<textarea class="input" name="message" placeholder="Message"></textarea>
										</div>
										<button class="primary-button" type="submit">Submit</button>
									</div>
								</div>
							</form>
                            {% else %}
                             <p class="alert-warning">You need to be logged in to add a comment</p>
                            {% endif %}
						</div>
						<!-- /reply -->

						<!-- comments -->
						<div class="section-row">
							<div class="section-title">
								<h5>{{ comments.count }} Comments</h5>
							</div>
                            {% if comments %}
                                 <div class="post-comments">
                                {% for comment in comments %}

                                    <!-- comment -->
                                    <div class="media">
                                        <div class="media-left">
                                            <img class="media-object" src="{% static '/img/avatar.png' %}" alt="">
                                        </div>
                                        <div class="media-body">
                                            <div class="media-heading">
                                                <h4>{{ comment.user.username }}
                                                    {% if request.user == comment.user %}
                                                        <a href="{% url 'post:removeComment' comment.id %}" style="color: red;">delete</a>
                                                    {% endif %}
                                                    {% if request.user == comment.user %}
                                                        <a href="{% url 'post:edit_comment' comment.id %}" style="color: green;">edit</a>
                                                    {% endif %}
                                                </h4>
                                                <span class="time">{{ comment.timestamp }}</span>
                                                <a class="reply" onclick="CommentReply(event, {{ comment.id }}, {{ comment.children.count }})" id="{{ comment.id }}repliesBtn">replies {{ comment.children.count }}</a>
                                                <a class="reply" onclick="ReplyForm(event, {{ comment.id }})" id="{{ comment.id }}replyForm">reply</a>

{#                                                <button class="btn btn-default" >replies</button>#}
                                            </div>
                                            <p>{{ comment.content }}</p>
                                                    <div id="{{ comment.id }}form" style="display: none">
                                                        {% if request.user.is_authenticated%}
                                                            <form class="post-reply pop" method="post" action="">
                                                                {% csrf_token %}
                                                                <input type="hidden" value="{{ comment.id }}" name="parent">
                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        <div class="form-group">
                                                                            <textarea class="input" name="message" placeholder="Add a reply"></textarea>
                                                                        </div>
                                                                        <div align="center">
                                                                            <button class="btn btn-default" type="submit">Submit</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        {% else %}
                                                         <p>You need to be logged in to add a comment</p>
                                                        {% endif %}
                                                    </div>
                                            <div>
                                                <div id="{{ comment.id }}" style="display: none;">
                                                    {% for replyIn in comment.children %}
                                                        <!-- comment -->
                                                        <div class="media">
                                                            <div class="media-left">
                                                                <img class="media-object" src="{% static '/img/avatar.png' %}" alt="">
                                                            </div>
                                                            <div class="media-body">
                                                                <div class="media-heading">
                                                                    <h4>{{ replyIn.user.username }}
                                                                         {% if request.user == replyIn.user %}
                                                                            <a href="{% url 'post:removeComment' replyIn.id %}" style="color: red;">delete</a>
                                                                        {% endif %}
                                                                         {% if request.user == replyIn.user %}
                                                                            <a href="{% url 'post:edit_comment' replyIn.id %}" style="color: green;">edit</a>
                                                                        {% endif %}
                                                                    </h4>
                                                                    <span class="time">{{ replyIn.timestamp }}</span>
                                                                    <a href="#" onclick="ReplyForm(event, {{ comment.id }})" id="{{ comment.id }}replyForm" class="reply">Reply</a>
                                                                </div>
                                                              <p>{{ replyIn.content }}</p>
                                                            </div>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                            <!-- /comment -->
                                        </div>
                                    </div>
                                    <!-- /comment -->
                            {% endfor %}
                            {% else %}
                                     <div class="post-comments">
                                    <!-- comment -->
                                    <div class="media">
                                        <div class="media-left">
{#                                            <img class="media-object" src="{% static '/img/avatar.png' %}" alt="">#}
                                        </div>
                                        <div class="media-body">
                                            <div class="media-heading">
                                                <h4></h4>
                                                <span class="time"></span>
                                                <a href="#" class="reply">no comment</a>
                                            </div>
                                            <p></p>

                                                <!-- comment -->
{#                                                <div class="media">#}
{#                                                    <div class="media-left">#}
{#                                                        <img class="media-object" src="{% static '/img/avatar.png' %}" alt="">#}
{#                                                    </div>#}
{#                                                    <div class="media-body">#}
{#                                                        <div class="media-heading">#}
{#                                                            <h4>{{ reply.user.username }}</h4>#}
{#                                                            <span class="time">{{ reply.timestamp }}</span>#}
{#                                                            <a href="#" class="reply">Reply</a>#}
{#                                                        </div>#}
{#                                                      <p>{{ reply.content }}</p>#}
{#                                                    </div>#}
{#                                                </div>#}
{#                                          #}
                                            <!-- /comment -->
                                        </div>
                                    </div>
                                    <!-- /comment -->
                            {% endif %}
								<!-- comment -->
{#								<div class="media">#}
{#									<div class="media-left">#}
{#										<img class="media-object" src="{% static '/img/avatar.png' %}" alt="">#}
{#									</div>#}
{#									<div class="media-body">#}
{#										<div class="media-heading">#}
{#											<h4>John Doe</h4>#}
{#											<span class="time">March 27, 2018 at 8:00 am</span>#}
{#											<a href="#" class="reply">Reply</a>#}
{#										</div>#}
{#										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>#}
{#									</div>#}
{#								</div>#}
								<!-- /comment -->
							</div>
						</div>
						<!-- /comments -->


					</div>
					<!-- /Post content -->

					<!-- aside -->
					<div class="col-md-4 col-lg-3">
						<!-- ad -->
{#						<div class="aside-widget text-center">#}
{#							<a href="#" style="display: inline-block;margin: auto;">#}
{#								<img class="img-responsive" src="{% static '/img/ad-1.jpg' %}" alt="">#}
{#							</a>#}
{#						</div>#}
						<!-- /ad -->

						<!-- post widget -->
						<div class="aside-widget">
							<div class="section-title">
								<h2>Most Read</h2>
							</div>
                        {% for most in mostRead %}
							<div class="post post-widget">
                                {% if most.pic %}
								    <a class="post-img" href="{% url 'post:read' most.slug %}"><img src="{{ most.pic.url }}" alt=""></a>
								{% else %}
                                    <a class="post-img" href="{% url 'post:read' most.slug %}"><img src="{% static '/img/widget-1.jpg' %}" alt=""></a>
                                {% endif %}
                                <div class="post-body">
									<h3 class="post-title"><a href="{% url 'post:read' most.slug %}">{{ most.title | safe }}</a></h3>
								</div>
							</div>
                        {% endfor %}
{#							<div class="post post-widget">#}
{#								<a class="post-img" href=""><img src="{% static '/img/widget-2.jpg' %}" alt=""></a>#}
{#								<div class="post-body">#}
{#									<h3 class="post-title"><a href="">Pagedraw UI Builder Turns Your Website Design Mockup Into Code Automatically</a></h3>#}
{#								</div>#}
{#							</div>#}

{#							<div class="post post-widget">#}
{#								<a class="post-img" href=""><img src="{% static '/img/widget-3.jpg' %}" alt=""></a>#}
{#								<div class="post-body">#}
{#									<h3 class="post-title"><a href="">Why Node.js Is The Coolest Kid On The Backend Development Block!</a></h3>#}
{#								</div>#}
{#							</div>#}
{##}
{#							<div class="post post-widget">#}
{#								<a class="post-img" href=""><img src="{% static '/img/widget-4.jpg' %}" alt=""></a>#}
{#								<div class="post-body">#}
{#									<h3 class="post-title"><a href="">Tell-A-Tool: Guide To Web Design And Development Tools</a></h3>#}
{#								</div>#}
{#							</div>#}
						</div>
						<!-- /post widget -->

						<!-- post widget -->
						<div class="aside-widget">
							<div class="section-title">
								<h2>Featured Posts</h2>
							</div>
                            {% for feature in featured_posts %}
                                <div class="post post-thumb">
                                    {% if feature.pic %}
                                        <a class="post-img" href="{% url 'post:read' feature.slug %}"><img src="{{ feature.pic.url }}" alt=""></a>
                                    {% else %}
                                        <a class="post-img" href="{% url 'post:read' feature.slug %}"><img src="{% static '/img/post-2.jpg' %}" alt=""></a>
                                    {% endif %}
                                    <div class="post-body">
                                        <div class="post-meta">
                                            <a class="post-category cat-3" href="{% url 'post:category' feature.subCategory.id %}">{{ feature.subCategory.name}}</a>
                                            <span class="post-date">{{ feature.date }}</span>
                                        </div>
                                        <h3 class="post-title"><a href="{% url 'post:read' feature.slug %}">{{ feature.title | safe}}</a></h3>
                                    </div>
                                </div>
                            {% endfor %}
{#							<div class="post post-thumb">#}
{#								<a class="post-img" href=""><img src="{% static '/img/post-1.jpg' %}" alt=""></a>#}
{#								<div class="post-body">#}
{#									<div class="post-meta">#}
{#										<a class="post-category cat-2" href="#">JavaScript</a>#}
{#										<span class="post-date">March 27, 2018</span>#}
{#									</div>#}
{#									<h3 class="post-title"><a href="">Chrome Extension Protects Against JavaScript-Based CPU Side-Channel Attacks</a></h3>#}
{#								</div>#}
{#							</div>#}
{#						</div>#}
						<!-- /post widget -->

						<!-- catagories -->
						<div class="aside-widget">
							<div class="section-title">
								<h2>Catagories</h2>
							</div>
							<div class="category-widget">
								<ul>
                                    {% for categ in catsIn %}
                                        {% for sub in categ.subcategory_set.all %}
									        <li><a href="{% url 'post:category' sub.id %}" class="cat-1">{{ sub.name }}<span>{{ sub.post_set.count }}</span></a></li>
                                        {% endfor %}
                                    {% endfor %}
{#									<li><a href="#" class="cat-2">JavaScript<span>74</span></a></li>#}
{#									<li><a href="#" class="cat-4">JQuery<span>41</span></a></li>#}
{#									<li><a href="#" class="cat-3">CSS<span>35</span></a></li>#}
								</ul>
							</div>
						</div>
						<!-- /catagories -->

						<!-- tags -->
						<div class="aside-widget">
							<div class="tags-widget">
								<ul>
                                    {% for catIn in catsIn %}
                                        {% for sub in catIn.subcategory_set.all %}
                                            	<li><a href="{% url 'post:category' sub.id %}">{{ sub.name }}</a></li>
                                        {% endfor %}
                                    {% endfor %}

{#									<li><a href="#">CSS</a></li>#}
{#									<li><a href="#">Tutorial</a></li>#}
{#									<li><a href="#">Backend</a></li>#}
{#									<li><a href="#">JQuery</a></li>#}
{#									<li><a href="#">Design</a></li>#}
{#									<li><a href="#">Development</a></li>#}
{#									<li><a href="#">JavaScript</a></li>#}
{#									<li><a href="#">Website</a></li>#}
								</ul>
							</div>
						</div>
						<!-- /tags -->

						<!-- archive -->
{#						<div class="aside-widget">#}
{#							<div class="section-title">#}
{#								<h2>Archive</h2>#}
{#							</div>#}
{#							<div class="archive-widget">#}
{#								<ul>#}
{#									<li><a href="#">January 2018</a></li>#}
{#									<li><a href="#">Febuary 2018</a></li>#}
{#									<li><a href="#">March 2018</a></li>#}
{#								</ul>#}
{#							</div>#}
{#						</div>#}
						<!-- /archive -->
					</div>
					<!-- /aside -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /section -->
        </div>
        </div>

    <script type="text/javascript">
        function CommentReply(event, id, counts) {
            event.preventDefault();
            console.log(document.getElementById(`${id}repliesBtn`).innerText);
            if (document.getElementById(`${id}`).style.display == "none"){
                 document.getElementById(`${id}`).style.display = "block";
                 document.getElementById(`${id}repliesBtn`).innerText = "hide";
                 if (document.getElementById(`${id}form`).style.display = "block"){
                     document.getElementById(`${id}form`).style.display = "none"
                 }
            }
            else {
                document.getElementById(`${id}`).style.display = "none";
                document.getElementById(`${id}repliesBtn`).innerText = `replies ${counts}`;
            }

        }

        function ReplyForm(event, id) {
            event.preventDefault();
            console.log(`${id}form`);
            if (document.getElementById(`${id}form`).style.display == "none"){
                 document.getElementById(`${id}form`).style.display = "block";
                 document.getElementById(`${id}replyForm`).innerText = "hide";

            }
            else {
                document.getElementById(`${id}form`).style.display = "none";
                document.getElementById(`${id}replyForm`).innerText = "reply";
            }

        }
    </script>
{% endblock %}